{{outlet}}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Dashboard</h4>
        </div>
    </div>
    <div class="offset-md-1 col-md-10">
        <div class="card-box">
            <h4 class="m-t-0 header-title">Services Status</h4>
            <p class="text-muted font-14 m-b-20">
                Display hacked services.
            </p>
            {{#data-table  class='table table-bordered'}}
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Status</th>
                        <th>Rolling Uptime for 30 days</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each checks as |check|}}
                        {{#if check.isHacked}}
                        <tr>
                            <td width="33%">
                                <a href="{{check.url}}" class="lead m-t-0">{{check.alias}}</a><br>
                                <span>{{check.description.data.content}}</span>
                            </td>
                            <td width="33%">
                                <span class="lead {{if check.down 'text-danger' 'text-success'}}">{{check.status}}</span>
                                {{#if check.down}}<span>since {{format-date check.downSince}}</span>{{/if}}
                            </td>
                            <td width="33%"><span class="lead">{{format-percentage check.uptime}}</span></td>
                        </tr>
                        {{/if}}
                    {{/each}}
                </tbody>
            {{/data-table}}
        </div>
    </div>
</div>
