<h1>Check</h1>
{{outlet}}

{{#each checks as |check|}}
    <h3>{{check.alias}}</h3>
    <span>{{check.isHacked}}</span>
    <span>{{format-percentage check.uptime}}</span>
    <span>{{check.status}}</span>
    <span>{{check.description.data.content}}</span>
{{/each}}